html, body {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #8EC5FC; */
    background-image: linear-gradient(62deg, rgb(238, 219, 182) 0%, #7fd5e4 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container {
    
    max-width: 100% !important;
    padding: 0 0 !important;
    overflow: hidden;
}

.carousel .carousel-inner img {
    height: 100vh !important;
}

.carousel .item {
    height: 300px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

.carousel-item {
  background-image: linear-gradient(to right, rgb(215,217,191) 0%, #7fd5e4 100%);
}

.carousel-indicators {
    margin-bottom: 30px;
}

  .carousel-item {
    transition: transform 0.55s ease-in-out;
  }
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 0.5s;
  }
















