html, body {
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}

.board {
    height: 100%;
    margin-bottom: auto;
}

.col-4 {
    padding: 10px;
    border-style: solid;
    color: rgb(235, 217, 217);
    /* background-color: violet; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
}



