#nav {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 99;
    position: fixed;
    width: 100%; /* Full width */
}

#nav-bg {
    /* background-color: rgb(214, 214, 230); */
    background-color: #fff;
    top: -120px; /* Hide the navbar 50 px outside of the top view */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    width: 100%;
    height: 100%;
    position: absolute;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: -1;
}

.nav-link {
    color: #fff;
    transition: 0.4s;
}

.nav-link:hover {
    color: dodgerblue;
    transform: scale(1.08);
    transition: 0.4s;
}


ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 100%;
}

li {
    display: flex;
    font-size: 20px;
    color: rgb(212, 16, 16) !important;
    width: 20%;
    justify-content: center;
    transition: 0.75s;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    ul {
        height: -webkit-fill-available;
        background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    }

    li {
        width: 100%;
    }

    li, a {
        color: black !important;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active::after {
        content: "";
      }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.user-name {
    background-color: rgb(14, 39, 53);
    color: cornsilk;
    overflow: hidden;
}

#user-name {
    transition: 0.5s;
    cursor: pointer;
}

#user-name:hover {
    color: rgb(27, 214, 121);
    transition: 0.5s;
}



